body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 16px
}

h1 {
    font-size: 3rem;
    padding-block: 1rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    padding-block: 0.75rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    padding-block: 0.5rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    padding-block: 0.4rem;
}

p {
    font-size: 1rem;
    padding-block: 0.25rem;
}